/* CSS Document */
/* width */
::-webkit-scrollbar {
 
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  
}

*{
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: helvetica
}
section{
	width: 100%;
	height: 100vh;
	padding: 200px;
	box-sizing: border-box;
}
h1{
	font-size: 2em;
	-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: yellow;
	
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}
.box{
	width: 300px;
	height: 300px;
	background: yellow;
	-webkit-box-shadow: 3px 5px 50px 4px #000000; 
box-shadow: 3px 5px 50px 4px #000000;
}
#button{
	font-size: 10em;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
  	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: red;
	position: fixed;
	z-index: 1000;
	right: 20px;
	bottom: 20px;
	display: none;
}